<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="suda.myweatherprovider">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="cyanogenmod.permission.ACCESS_WEATHER_MANAGER" />
    <uses-feature android:name="org.cyanogenmod.weather" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyAppliCation"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity"
            android:exported="true">
        </activity>
        <activity android:name=".Settings2345Activity"
            android:exported="true">
        </activity>
        <service
            android:name=".MyWeatherProviderService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="cyanogenmod.permission.BIND_WEATHER_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="cyanogenmod.weatherservice.WeatherProviderService" />
            </intent-filter>

            <meta-data
                android:name="cyanogenmod.weatherservice"
                android:resource="@xml/myweather" />
        </service>

        <service
            android:name=".Weather2345ProviderService"
            android:exported="true"
            android:label="@string/app_name2"
            android:permission="cyanogenmod.permission.BIND_WEATHER_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="cyanogenmod.weatherservice.WeatherProviderService" />
            </intent-filter>

            <meta-data
                android:name="cyanogenmod.weatherservice"
                android:resource="@xml/another_weather" />
        </service>

    </application>

</manifest>